<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reorize</title>
    <link rel='shortcut icon' type='image/x-icon' href='../img/reorize.ico' />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Righteous&family=Roboto&display=swap" rel="stylesheet"> 

</head>
<style>
  ::placeholder{
    color: black !important;
  }
</style>
<body class="roboto">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand righteous text-warning px-3 m-0" href="dashboard">®eorize</a>
  
      <!-- menu usuario -->
    <div class="dropdown show px-2">
      <a class="text-light dropdown-toggle text-decoration-none" href="#" role="button" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../svg/emoji.svg" alt="emoji"> Olá, Undefined
      </a>
      
       <div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
        <a class="dropdown-item" href="profile">Meu Perfil</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#reestart" href="">Começar do Zero</a>
         <a class="dropdown-item" href="export">Exportar Dados</a>
      </div>
    </div>

    <!-- calendario -->
    <div class="dropdown show m-2">
      <a class="text-light dropdown-toggle  text-decoration-none" href="#" role="button" id="dropdownMenuCalendar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../svg/calendar.svg" alt="calendar"> Calendario
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuCalendar">
        <div class="input-group date">
          <input type="text" class="form-control datepicker dateFormat">
        </div>
      </div>
    </div>

    <!-- contas -->
    <div class="dropdown show m-2">
      <a class="text-light dropdown-toggle  text-decoration-none" href="#" role="button" id="dropdownMenuAccounts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../svg/account.svg" alt="account"> Contas
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuAccounts">
        <a class="dropdown-item" href="">Conta Primaria</a>
        <a class="dropdown-item" href="" data-toggle="modal" data-target="#add-account">Gerenciar Contas</a>
      </div>
    </div>

    <!-- Menu Hamburguer -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
      <div class="navbar-nav float-left text-left px-2">
        <a class="nav-item nav-link nav-link-custom px-2" href="dashboard"><img src="../svg/home.svg" alt="home"> Visão Geral</a>
        <a class="nav-item nav-link nav-link-custom px-2 active" href="moves"><img src="../svg/transfer.svg" alt="transfer"> Movimentações</a>
        <a class="nav-item nav-link nav-link-custom px-2" href="target"><img src="../svg/objective.svg" alt="objective"> Orçamentos</a>
        <a class="nav-item nav-link nav-link-custom px-2" href="calculator"><img src="../svg/calculator.svg" alt="calculator"> Calculadora Financeira</a>
        <form action="/logout" method="post"><button class="nav-item nav-link nav-link-custom px-2 mx-1 btn"><img src="../svg/exit.svg" alt="exit"> Sair</button></form>
      </div>
    </div>

    
  </nav>

  <!-- Modal Reiniciar Conta-->
  <div class="modal fade btn-custom-opacity" id="reestart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="title">AVISO</h5>
          <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja reiniciar a conta?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          <button type="button" name="clean" id="clean" class="btn btn-primary">Sim</button>
        </div>
      </div>
    </div>
  </div>

  <!-- conteudo -->
  <div class="container mt-3">
    <div class="container border">
    <table class="table table-borderless my-1">
      <thead>
        <tr>
          <th scope="col" class="text-center">Receita</th>
          <th scope="col" class="text-center">Despesa</th>
        </tr>
        <tr>
          <th scope="col" class="text-center">R$ 286,00</th>
          <th scope="col" class="text-center">R$ 80,00</th>
        </tr>
      </thead>
    </table>
    </div>
    <div class="container border">
      <div class="row">
        <div class="col">
          <table class="table table-light table-hover my-2">
            <tbody>
              <tr>
                <td class="text-center lato">14/4/2020 Familia  R$ 80,00</td>
                <td class="text-center">
                  <button type="button" class="btn btn-outline-primary has-tooltip" data-placement="left" data-toggle="modal" data-target="#edit-income">
                    <img src="../svg/pencil.svg" alt="edit" data-toggle="tooltip" data-placement="left" title="Editar">
                  </button>
                    <button type="button" class="btn btn-outline-danger" id="remove-income">
                      <img src="../svg/x-circle.svg" alt="remove" data-toggle="tooltip" data-placement="left" title="Remover">
                    </button>
                </td>
                
              </tr>
              <tr>
                <td class="text-center lato">14/4/2020 Familia  R$ 80,00</td>
                <td class="text-center">
                  <button type="button" class="btn btn-outline-primary has-tooltip" data-placement="left" data-toggle="modal" data-target="#edit-income">
                    <img src="../svg/pencil.svg" alt="edit" data-toggle="tooltip" data-placement="left" title="Editar">
                  </button>
                  <button type="button" class="btn btn-outline-danger" id="remove-income">
                    <img src="../svg/x-circle.svg" alt="remove" data-toggle="tooltip" data-placement="left" title="Remover">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-light table-hover my-2">
            <tbody>
              <tr>
                <td class="text-center lato">14/4/2020 Outros  R$ 286,00</td>
                <td class="text-center">
                  <button type="button" class="btn btn-outline-primary has-tooltip" data-placement="left" data-toggle="modal" data-target="#edit-expense">
                    <img src="../svg/pencil.svg" alt="edit" data-toggle="tooltip" data-placement="left" title="Editar">
                  </button>
                  <button type="button" class="btn btn-outline-danger" id="remove-expense">
                    <img src="../svg/x-circle.svg" alt="remove" data-toggle="tooltip" data-placement="left" title="Remover">
                  </button>
                </td>
              </tr>
              <tr>
                <td class="text-center lato">14/4/2020 Outros  R$ 286,00</td>
                <td class="text-center">
                  <button type="button" class="btn btn-outline-primary has-tooltip" data-placement="left" data-toggle="modal" data-target="#edit-expense">
                    <img src="../svg/pencil.svg" alt="edit" data-toggle="tooltip" data-placement="left" title="Editar">
                  </button>
                  <button type="button" class="btn btn-outline-danger" id="remove-expense">
                    <img src="../svg/x-circle.svg" alt="remove" data-toggle="tooltip" data-placement="left" title="Remover">
                  </button>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    
  <!-- Modal Formulario Receita -->
  <div class="modal fade btn-custom-opacity" id="edit-income" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="title">Editar Receita</h5>
          <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario Registro -->
          <div class="container-lg">
            <form action="" method="post">
              <div class="form-group p-3">
                <label for="desc_item">Descrição</label>
                <input type="text" name="desc_item" id="desc_item" class="form-control">
              </div>
              <div class="form-group p-3">
                <label for="category">Categoria</label>
                <select name="category" id="category" class="form-control form-select">
                  <option value="">Alimentação</option>
                </select>
              </div>
              <div class="form-group p-3">
                <label for="value">Valor</label>
                <input type="text" name="value" id="value" class="money form-control">
              </div>
              <div class="form-group p-3">
                <label for="date">Data</label>
                <input type="date" name="date" id="date" class="form-control">
              </div>
              <div class="form-group p-3">
                <label for="type">Tipo</label>
                <select name="type" id="type" class="form-control form-select">
                  <option value="1">Receita</option>
                  <option value="2">Despesa</option>
                </select>
              </div>
              <div class="col-sm-12 p-4 text-center">
                <button class="btn btn-custom text-white" type="submit" name="button">Enviar</button>
                <button class="btn btn-custom text-white" type="reset" name="button">Apagar</button>
              </div>
            </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Formulario Despesa -->
  <div class="modal fade btn-custom-opacity" id="edit-expense" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="title">Editar Despesa</h5>
          <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario Registro -->
          <div class="container-lg">
            <form action="" method="post">
              <div class="form-group p-3">
                <label for="desc_item">Descrição</label>
                <input type="text" name="desc_item" id="desc_item" class="form-control">
              </div>
              <div class="form-group p-3">
                <label for="category">Categoria</label>
                <select name="category" id="category" class="form-control form-select">
                  <option value="">Alimentação</option>
                </select>
              </div>
              <div class="form-group p-3">
                <label for="value">Valor</label>
                <input type="text" name="value" id="value" class="money form-control">
              </div>
              <div class="form-group p-3">
                <label for="date">Data</label>
                <input type="date" name="date" id="date" class="form-control">
              </div>
              <div class="form-group p-3">
                <label for="type">Tipo</label>
                <select name="type" id="type" class="form-control form-select">
                  <option value="1">Receita</option>
                  <option value="2">Despesa</option>
                </select>
              </div>
              <div class="col-sm-12 p-4 text-center">
                <button class="btn btn-custom text-white" type="submit" name="button">Enviar</button>
                <button class="btn btn-custom text-white" type="reset" name="button">Apagar</button>
              </div>
            </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>




  <!-- botao flutueante -->
  <div class="btn-group-fab" role="group" aria-label="FAB Menu">
    <div>
      <button type="button" class="btn btn-main btn-custom has-tooltip" data-placement="left">
        <img src="../svg/menu.svg" alt="menu">
      </button>
      <button type="button" class="btn btn-sub btn-primary has-tooltip" data-placement="left" data-toggle="modal" data-target="#add-register">
        <img src="../svg/add.svg" alt="add" data-toggle="tooltip" data-placement="left" title="Adicionar Registo">
      </button>
      <button type="button" class="btn btn-sub btn-danger has-tooltip" data-placement="left" data-toggle="modal" data-target="#add-category">
        <img src="../svg/folder.svg" alt="category" data-toggle="tooltip" data-placement="left" title="Adicionar Categoria">
      </button>
      <button type="button" class="btn btn-sub btn-info has-tooltip" data-placement="left" data-toggle="modal" data-target="#add-goal">
        <img src="../svg/goal.svg" alt="goal" data-toggle="tooltip" data-placement="left" title="Adicionar Meta">
      </button>
      <button type="button" class="btn btn-sub btn-secondary has-tooltip" data-placement="left" data-toggle="modal" data-target="#add-contact">
        <img src="../svg/chat-verse.svg" alt="chat" data-toggle="tooltip" data-placement="left" title="Contato">
      </button>
    </div>
  </div>

  <!-- Modal adicionar/remover conta -->
  <div class="modal fade btn-custom-opacity" id="add-account" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="title">Contas</h5>
          <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario Conta -->
          <div class="container-lg">
            <form action="" method="post">
              <div class="form-group p-3">
                <label for="name_account">Nome</label>
                <input type="text" name="name_account" id="account" class="form-control">
                </div>
              <div class="form-group p-3">
                <label for="balance_account">Saldo Inicial</label>
                <input type="text" value="0,00" name="balance_account" id="account" class=" form-control" placeholder="0,00">
                </div>
              <div class="col-sm-12 p-4 text-center">
                <button class="btn btn-custom text-white" type="submit" name="button">Enviar</button>
              </div>
            </form>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Adicionar Registro-->
    <div class="modal fade btn-custom-opacity" id="add-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="title">Adicionar Registro</h5>
            <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulario Registro -->
            <div class="container-lg">
              <form action="" method="post">
                <div class="form-group p-3">
                  <label for="desc_item">Descrição</label>
                  <input type="text" name="desc_item" id="desc_item" class="form-control">
                </div>
                <div class="form-group p-3">
                  <label for="category">Categoria</label>
                  <select name="category" id="category" class="form-control form-select">
                    <option value="">Alimentação</option>
                  </select>
                </div>
                <div class="form-group p-3">
                  <label for="value">Valor</label>
                  <input type="text" name="value" id="value" class="money form-control">
                </div>
                <div class="form-group p-3">
                  <label for="date">Data</label>
                  <input type="date" name="date" id="date" class="form-control">
                </div>
                <div class="form-group p-3">
                  <label for="type">Tipo</label>
                  <select name="type" id="type" class="form-control form-select">
                    <option value="1">Receita</option>
                    <option value="2">Despesa</option>
                  </select>
                </div>
                <div class="col-sm-12 p-4 text-center">
                  <button class="btn btn-custom text-white" type="submit" name="button">Enviar</button>
                  <button class="btn btn-custom text-white" type="reset" name="button">Apagar</button>
                </div>
              </form>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal Adicionar Categoria-->
    <div class="modal fade btn-custom-opacity" id="add-category" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="title">Adicionar Categoria</h5>
            <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulario Categoria -->
            <div class="container-lg">
              <form action="" method="post">
                <div class="form-group p-3">
                  <label for="category">Categoria</label>
                  <input type="text" name="category" id="category" class="form-control">
                  </div>
                <div class="col-sm-12 p-4 text-center">
                  <button class="btn btn-custom text-white" type="submit" name="button">Enviar</button>
                </div>
              </form>
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal Adicionar Meta-->
    <div class="modal fade btn-custom-opacity" id="add-goal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="title">Adicionar Meta</h5>
            <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulario Meta -->
            <div class="container-lg">
              <form action="" method="post">
                <div class="form-group p-3">
                  <label for="category">Categoria</label>
                  <select name="category" id="category" class="form-control form-select">
                    <option value="">Alimentação</option>
                  </select>
                </div>
                <div class="form-group p-2">
                  <label for="value">Valor</label>
                  <input type="text" name="value" id="value" class="money form-control">
                  </div>
                <div class="col-sm-12 p-4 text-center">
                  <button class="btn btn-custom text-white" type="submit" name="button">Enviar</button>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal Adicionar Contato-->
    <div class="modal fade btn-custom-opacity" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="title">Contato</h5>
            <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-lg border-bottom border-dark">
              <h2 class="text-center p-3">Contato</h2>
            </div>
            <div class="container-lg">
              <form action="" method="post">
                <div class="form-group p-3">
                  <label for="subject">Assunto</label>
                  <input type="text" name="subject" id="subject" class="form-control">
                </div>
                <div class="form-group p-3">
                  <textarea name="text" id="place" rows="7" class="form-control" placeholder="Duvidas? Ideias? Digite aqui"></textarea>
                </div>
                <div class="col-sm-12 p-4 text-center">
                  <button class="btn btn-custom text-white" type="submit" name="button">Enviar</button>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
  <script src="../node_modules/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="../node_modules/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
  <script src="../js/script.js"></script>
</body>
</html>
